*{
	margin: 0;
	padding: 0;
}

.bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
}
.blue{
	width: 60%;
	height: 100%;
	background: lightblue;
	position: relative;
}
.pink{
	width: 40%;
	height: 100%;
	background: pink;
	position: relative;
}
/*
.container{
	width: 1170px;
	padding-right: 15px;
 	padding-left: 15px;
 	margin-right: auto;
  	margin-left: auto;
	height: 500px;
	background: rgba(255,255,255,0.5);
	position: relative;
	margin-top: 100px;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}
*/
.left{
	width: 80%;
	background: #FFF;
	height: 80%;
	position: absolute;
	right: 10px;
	bottom: 50px;
}
.right{
	width: 80%;
	background: #FFF;
	height: 80%;
	position: absolute;
	left: 10px;
	bottom: 50px;
}